# Default values for yugaware.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

fullnameOverride: ""
nameOverride: ""

image:
  commonRegistry: ""
  # Setting commonRegistry to say, quay.io overrides the registry settings for all images
  # including the yugaware image

  repository: quay.io/yugabyte/yugaware
  tag: 2.17.0.0-b24
  pullPolicy: IfNotPresent
  pullSecret: yugabyte-k8s-pull-secret
  ## Docker config JSON File name
  ## If set, this file content will be used to automatically create secret named as above
  pullSecretFile: ""

  thirdparty-deps:
    registry: quay.io
    tag: latest
    name: yugabyte/thirdparty-deps

  postgres:
    registry: ""
    tag: '14.4'
    name: postgres

  postgres-upgrade:
    registry: ""
    tag: "11-to-14"
    name: tianon/postgres-upgrade

  prometheus:
    registry: ""
    tag: v2.39.0
    name: prom/prometheus

  nginx:
    registry: ""
    tag: 1.23.1
    name: nginxinc/nginx-unprivileged

yugaware:
  replicas: 1
  storage: 100Gi
  storageClass: ""
  storageAnnotations: {}
  multiTenant: false
  serviceAccount: yugaware
  serviceMonitor:
    enabled: false
    annotations: {}
  serviceAccountAnnotations: {}
  service:
    annotations: {}
    clusterIP: ""
    enabled: true
    ip: ""
    type: "LoadBalancer"
  pod:
    annotations: {}
    labels: {}
  health:
    username: ""
    password: ""
    email: ""
  resources:
    requests:
      cpu: "2"
      memory: 4Gi
  enableProxyMetricsAuth: true
  ## List of additional alowed CORS origins in case of complex rev-proxy
  additionAllowedCorsOrigins: []
  proxyEndpointTimeoutMs: 3 minute
  ## Enables features specific for cloud deployments
  cloud:
    enabled: false
    requestIdHeader: "X-REQUEST-ID"

  podDisruptionBudget:
    # See https://kubernetes.io/docs/tasks/run-application/configure-pdb/
    # Note that the default of 0 doesn't really make sense since a StatefulSet isn't allowed to schedule extra replicas. However it is maintained as the default while we do additional testing. This value will likely change in the future.
    maxUnavailable: 0

  universe_boot_script: ""

## Configure PostgreSQL part of the application
postgres:
  user: postgres
  dbname: yugaware

  service:
    ## Expose internal Postgres as a Service
    enabled: false
    ## Additional Service annotations
    annotations: {}
    ## Service type
    type: "ClusterIP"
    ## IP address for the LoadBalancer, works only if supported by the cloud provider
    ip: ""

  resources:
    requests:
      cpu: "0.5"
      memory: 1Gi

  # If external.host is set then we will connect to an external postgres database server instead of starting our own.
  external:
    host: ""
    port: 5432
    pass: ""
    dbname: postgres
    user: postgres

    ## JDBC connection parameters including the leading `?`.
    jdbcParams: ""

tls:
  enabled: false
  hostname: "localhost"
  ## Expects base 64 encoded values for certificate and key.
  certificate: ""
  key: ""
  sslProtocols: "" # if set, override default Nginx SSL protocols setting

## yugaware pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  enabled: false
  ## fsGroup related values are set at the pod level.
  fsGroup: 10001
  fsGroupChangePolicy: "OnRootMismatch"
  ## The following values are set for yugaware and prometheus containers.
  ## Setting runAsUser other than 10001 will fail the VM universe deployment flow.
  runAsUser: 10001
  runAsGroup: 10001
  runAsNonRoot: true

helm:
  timeout: 900
  packagePath: "/opt/yugabyte/helm"

domainName: "cluster.local"

helm2Legacy: false

ip_version_support: "v4_only" # v4_only, v6_only are the only supported values at the moment

nginx:
  workerConnections: 1024
  db_node_proxy_enabled: false

  # max size of file upload allowed by YB platform
  upload_size: 10G

  resources:
    requests:
      cpu: "0.25"
      memory: 300Mi

  proxyReadTimeoutSec: 600

rbac:
  ## Set this to false if you don't have enough permissions to create
  ## ClusterRole and Binding, for example an OpenShift cluster. When
  ## set to false, some of the graphs from Container section of the
  ## Metrics UI don't work.
  create: true

## In order to deploy on OpenShift Container Platform, set this to
## true.
ocpCompatibility:
  enabled: false

# Extra containers to add to the pod.
sidecars: []

## Following two controls for placement of pod - nodeSelector and AZ affinity.
## Note: Remember to also provide a yugaware.StorageClass that has a olumeBindingMode of
## WaitForFirstConsumer so that the PVC is created in the right topology visible to this pod.
## See https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
## eg.
## nodeSelector:
##   topology.kubernetes.io/region: us-west1
nodeSelector: {}

## Affinity to a particular zone for the pod.
## See https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
## eg.
## nodeAffinity:
##   requiredDuringSchedulingIgnoredDuringExecution:
##     nodeSelectorTerms:
##       - matchExpressions:
##         - key: failure-domain.beta.kubernetes.io/zone
##           operator: In
##           values:
##           - us-west1-a
##           - us-west1-b
zoneAffinity: {}

## The tolerations that the pod should have.
## See https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations: []

## Don't want prometheus to scrape nodes and evaluate alert rules in some cases (for example - cloud).
prometheus:
  scrapeNodes: true
  evaluateAlertRules: true
  retentionTime: 15d
  queryConcurrency: 20
  queryMaxSamples: 5000000
  queryTimeout: 30s

  resources:
    requests:
      cpu: "2"
      memory: 4Gi

# Arbitrary key=value config entries for application.docker.conf
additionalAppConf:
  stringConf: {}
  nonStringConf: {}

jdbcParams: ""

## Override the APIVersion used by policy group for
## PodDisruptionBudget resources. The chart selects the correct
## APIVersion based on the target Kubernetes cluster. You don't need
## to modify this unless you are using helm template command i.e. GKE
## app's deployer image against a Kubernetes cluster >= 1.21.
# pdbPolicyVersionOverride: "v1beta1"
pdbPolicyVersionOverride: ""
