# Default values for yugaware.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


image:
  commonRegistry: ""
  # Setting commonRegistry to say, quay.io overrides the registry settings for all images
  # including the yugaware image

  repository: quay.io/yugabyte/yugaware
  tag: 2.3.2.0-b37
  pullPolicy: IfNotPresent
  pullSecret: yugabyte-k8s-pull-secret

  thirdparty-deps:
    registry: quay.io
    tag: latest
    name: yugabyte/thirdparty-deps

  postgres:
    registry: ""
    tag: 11.5
    name: postgres

  prometheus:
    registry: ""
    tag: v2.2.1
    name: prom/prometheus

  nginx:
    registry: ""
    tag: 1.17.4-amd64
    name: nginxinc/nginx-unprivileged

  dnsmasq:
    registry: ""
    tag: release-1.0.7
    name: janeczku/go-dnsmasq

yugaware:
  replicas: 1
  storage: 100Gi
  storageClass: standard
  multiTenant: false
  serviceAccount: yugaware
  service:
    enabled: true
    ip: ""
    type: "LoadBalancer"
  health:
    username: ""
    password: ""
    email: ""

tls:
  enabled: false
  hostname: "localhost"
  certificate: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tDQpNSUlHTHpDQ0JSZWdBd0lCQWdJUUQ2R1ZmL0ViUDhSMFQvcWxjRGZyM3pBTkJna3Foa2lHOXcwQkFRc0ZBREJlDQpNUXN3Q1FZRFZRUUdFd0pWVXpFVk1CTUdBMVVFQ2hNTVJHbG5hVU5sY25RZ1NXNWpNUmt3RndZRFZRUUxFeEIzDQpkM2N1WkdsbmFXTmxjblF1WTI5dE1SMHdHd1lEVlFRREV4UlNZWEJwWkZOVFRDQlNVMEVnUTBFZ01qQXhPREFlDQpGdzB4T1RBNE1ERXdNREF3TURCYUZ3MHlNVEEzTXpFeE1qQXdNREJhTUI4eEhUQWJCZ05WQkFNTUZDb3VZMnh2DQpkV1F1ZVhWbllXSjVkR1V1WTI5dE1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBDQp3SmswU25ub1pRYW1hWm0rMVVJdjdRYjBLalhZeVEwckpJSGpsbE03elhFYUFoL0JqVjZ1M0h1TWxrTlZSekVFDQpGeEtGUm5nSlpXTVlPcy9sWDU1QmtBS0RocXNmaDl0ZVA4ZFVQU1RTVTN6bWRVc0dTcDJIMGpKbVhuRWNvMFpzDQpwYlVyYWhlcWlxSUUyZ1gwQlpvYldvWGRHc1EydXJiUGxyMGlVSnUxVnp4SGRoTS9nTnFQWEN5bE5YdENrbVI2DQo0eXpIa0Rob21pRTAySTMwTXBlOERxczl4d3lKd3F6T3J2ZnA0eUE0Ukhna2g1clovK1Erc0VQNkIyVzBHQXc2DQpzZDNTYytOTytYVUZoVnlFRDhqZkNsTndPVHZodi9keE5IWHZ4WHd0RWNjZTd1TVBBTFJzSFh1RW1kTkN5N2pvDQpibzJuUWFObzZBQ1c0U2s5RWJVZXB3SURBUUFCbzRJREpqQ0NBeUl3SHdZRFZSMGpCQmd3Rm9BVVU4b1hXZnhyDQp3QU1oTHhxdTVLcW9ISUpXMm5Vd0hRWURWUjBPQkJZRUZHemw3bjdOMy9GbFdDSDFvdWFCWldKMjI1UStNQjhHDQpBMVVkRVFRWU1CYUNGQ291WTJ4dmRXUXVlWFZuWVdKNWRHVXVZMjl0TUE0R0ExVWREd0VCL3dRRUF3SUZvREFkDQpCZ05WSFNVRUZqQVVCZ2dyQmdFRkJRY0RBUVlJS3dZQkJRVUhBd0l3UGdZRFZSMGZCRGN3TlRBem9ER2dMNFl0DQphSFIwY0RvdkwyTmtjQzV5WVhCcFpITnpiQzVqYjIwdlVtRndhV1JUVTB4U1UwRkRRVEl3TVRndVkzSnNNRXdHDQpBMVVkSUFSRk1FTXdOd1lKWUlaSUFZYjliQUVDTUNvd0tBWUlLd1lCQlFVSEFnRVdIR2gwZEhCek9pOHZkM2QzDQpMbVJwWjJsalpYSjBMbU52YlM5RFVGTXdDQVlHWjRFTUFRSUJNSFVHQ0NzR0FRVUZCd0VCQkdrd1p6QW1CZ2dyDQpCZ0VGQlFjd0FZWWFhSFIwY0RvdkwzTjBZWFIxY3k1eVlYQnBaSE56YkM1amIyMHdQUVlJS3dZQkJRVUhNQUtHDQpNV2gwZEhBNkx5OWpZV05sY25SekxuSmhjR2xrYzNOc0xtTnZiUzlTWVhCcFpGTlRURkpUUVVOQk1qQXhPQzVqDQpjblF3Q1FZRFZSMFRCQUl3QURDQ0FYNEdDaXNHQVFRQjFua0NCQUlFZ2dGdUJJSUJhZ0ZvQUhVQTdrdTl0M1hPDQpZTHJoUW1rZnErR2VacU1QZmwrd2N0aURBTVI3aVhxby9jc0FBQUZzVHEwL013QUFCQU1BUmpCRUFpQlg3NXJ0DQpwNkdQbUQxbVl1S1hvcXVRVytIcUtRNE8rV1RXbTNCbVBteWF1d0lnQUoya01WdmduaUx1dEh5Y3AyYzBwdDRsDQptL3M5SWN2Yi9aN09jMU82b2xJQWRnQ0hkYi9uV1h6NGpFT1pYNzN6YnY5V2pVZFdOdjlLdFdEQnRPci9YcUNEDQpEd0FBQVd4T3JUOXNBQUFFQXdCSE1FVUNJSHphY3NCcmpEN1FER1ZRSHA5YUZPMnJ4VEx4NU9GOVE2MTFYaUU2DQpZUEk3QWlFQW9xd3pTd1BVaGt4bVhYNzN0SDVEcVNwaUxuOHdrMXFWeWhZOTVmSmxZa0VBZHdCRWxHVXVzTzdPDQpyOFJBQjlpby9pakEydWFDdnRqTE1iVS8wek9XdGJhQnFBQUFBV3hPclQ1M0FBQUVBd0JJTUVZQ0lRQ1ZLaHQ5DQpWTWhlNTUvZEwrSGN6Qzk5a2xheG9DcW5zOStRNGVOTDZ2Smd4QUloQUsyZmp4a1RadGw4WFZ4WHEwc2NSTWNJDQpiSktHcGJYdEV0N3dFVzRkZDNGS01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQm1GcDNCK1g2Y21Cb0FLWkhrDQpIWWxzanhIZk01bDQyZWJtSFdGdlQyTi9aVkZ3MEZ3YndBNExyNzlvd01QdU5FbVNNa2pmVVhxR011Q2VlVTdODQo0MlRwUFdPaGNzVHF6ZkxVa0hhMU9rK011L3RUZHBNcmhROEVqbkhMY3FKVE9MbmRSVy8zcE5IM2xrK2FJejNoDQpDVGFueElRVEE2cUxRNThRakszWmFMVzdqWVVNcVJFcnBGVDlBVXkxMDAxMjlOam5HVkhtYmU1bW1ZbEwvQlhMDQpmdHBJUUJJZnhCNXpHbHpTcjRHT3p5RDBES05YU040RU0yM2pIM1ljeUg4eFQrODU4ZkxSaXQ4SFlOQ3RQbkloDQoyRzR6UjV3emZFVDlnZUh6aWtuY0ZMWUpMMEpKMVIrZGVNRE91bmJWOUJqcmZJb3NNSk53TUV2ejFZczlBWXhHDQpxSFNYDQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tDQotLS0tLUJFR0lOIENFUlRJRklDQVRFLS0tLS0KTUlJRXNUQ0NBNW1nQXdJQkFnSVFDS1dpUnMxTFhJeUQxd0swdTZ0VFNUQU5CZ2txaGtpRzl3MEJBUXNGQURCaApNUXN3Q1FZRFZRUUdFd0pWVXpFVk1CTUdBMVVFQ2hNTVJHbG5hVU5sY25RZ1NXNWpNUmt3RndZRFZRUUxFeEIzCmQzY3VaR2xuYVdObGNuUXVZMjl0TVNBd0hnWURWUVFERXhkRWFXZHBRMlZ5ZENCSGJHOWlZV3dnVW05dmRDQkQKUVRBZUZ3MHhOekV4TURZeE1qSXpNek5hRncweU56RXhNRFl4TWpJek16TmFNRjR4Q3pBSkJnTlZCQVlUQWxWVApNUlV3RXdZRFZRUUtFd3hFYVdkcFEyVnlkQ0JKYm1NeEdUQVhCZ05WQkFzVEVIZDNkeTVrYVdkcFkyVnlkQzVqCmIyMHhIVEFiQmdOVkJBTVRGRkpoY0dsa1UxTk1JRkpUUVNCRFFTQXlNREU0TUlJQklqQU5CZ2txaGtpRzl3MEIKQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBNVMyb2loRW85bm5wZXpvemlEdHg0V1dMTENsbC9lMHQxRVllbUU1bgorTWdQNXZpYUhMeStWcEhQK25kWDVEMThJTkl1dUFWOHdGcTI2S0Y1VTBXTklaaVFwNm1MdElXalVlV0RQQTI4Ck9leWhUbGo5VExrMmJleXRidEZVNnlwYnBXVWx0bXZZNVY4bmdzcEM3bkZSTkNqcGZuREVEMmtSeUp6Tzh5b0sKTUZ6NEo0SkU4TjdOQTF1SndVRUZNVXZITHMwc2NMb1Baa0tjZXdJUm0xUlYyQXhtRlF4SmtkZjdZTjlQY2traQpmMlhnbTNiNDhCWm4wemYwcVhzU2VHdTg0dWE5Z3d6anpJN3RiVEJqYXlUcFQrL1hwV3VCVnY2ZnZhckk2YmlrCktCODU5T1NHUXV3NzNYWGdldUZ3RVBIVElSb1V0a3p1My9FUStMdHd6bmtrZFFJREFRQUJvNElCWmpDQ0FXSXcKSFFZRFZSME9CQllFRkZQS0YxbjhhOEFESVM4YXJ1U3FxQnlDVnRwMU1COEdBMVVkSXdRWU1CYUFGQVBlVURWVwowVXk3WnZDajRoc2J3NWV5UGRGVk1BNEdBMVVkRHdFQi93UUVBd0lCaGpBZEJnTlZIU1VFRmpBVUJnZ3JCZ0VGCkJRY0RBUVlJS3dZQkJRVUhBd0l3RWdZRFZSMFRBUUgvQkFnd0JnRUIvd0lCQURBMEJnZ3JCZ0VGQlFjQkFRUW8KTUNZd0pBWUlLd1lCQlFVSE1BR0dHR2gwZEhBNkx5OXZZM053TG1ScFoybGpaWEowTG1OdmJUQkNCZ05WSFI4RQpPekE1TURlZ05hQXpoakZvZEhSd09pOHZZM0pzTXk1a2FXZHBZMlZ5ZEM1amIyMHZSR2xuYVVObGNuUkhiRzlpCllXeFNiMjkwUTBFdVkzSnNNR01HQTFVZElBUmNNRm93TndZSllJWklBWWI5YkFFQ01Db3dLQVlJS3dZQkJRVUgKQWdFV0hHaDBkSEJ6T2k4dmQzZDNMbVJwWjJsalpYSjBMbU52YlM5RFVGTXdDd1lKWUlaSUFZYjliQUVCTUFnRwpCbWVCREFFQ0FUQUlCZ1puZ1F3QkFnSXdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBSDRqeC9MS05XNVprbEZjCllXczhFamJtMG55ektlWkMyS09WWVI3UDhnZXZLeXNsV200WG80QlN6S3IyMzVGc0o0YUZ0NnlBaXYxZVkwdFoKL1pOMThiT0dTR1N0b0VjL0pFNG9jSXpyOFA1TWcxMWtSWUhibWdZbnIxUnhla2k1bVNlYjM5REd4VHBKRDRrRwpoczVsWE5vbzRjb25VaWlKd0thcUg3dmgyYmFyeWQ4cE1JU2FnODNKVXF5VkdjMnRXUHBPMDMyOS9DV3Eya3J5CnF2NjZPU01qd3VsVXowZFhmNE9IUWFzUjdDTmZJcis0S1NjYzZBQmxRNVJERjg2UEdlRTZrZHdTUWtGaUIvY1EKeXNOeXEwakVEUVRrZmEycGptdVd0TUNOYkJuaEZYQlllamZ1YkloYVViRXYyRk9RQjNkQ2F2K0ZQZzVlRXZlWApUVnlNbkdvPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
  key: "LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb3dJQkFBS0NBUUVBd0prMFNubm9aUWFtYVptKzFVSXY3UWIwS2pYWXlRMHJKSUhqbGxNN3pYRWFBaC9CCmpWNnUzSHVNbGtOVlJ6RUVGeEtGUm5nSlpXTVlPcy9sWDU1QmtBS0RocXNmaDl0ZVA4ZFVQU1RTVTN6bWRVc0cKU3AySDBqSm1YbkVjbzBac3BiVXJhaGVxaXFJRTJnWDBCWm9iV29YZEdzUTJ1cmJQbHIwaVVKdTFWenhIZGhNLwpnTnFQWEN5bE5YdENrbVI2NHl6SGtEaG9taUUwMkkzME1wZThEcXM5eHd5Sndxek9ydmZwNHlBNFJIZ2toNXJaCi8rUStzRVA2QjJXMEdBdzZzZDNTYytOTytYVUZoVnlFRDhqZkNsTndPVHZodi9keE5IWHZ4WHd0RWNjZTd1TVAKQUxSc0hYdUVtZE5DeTdqb2JvMm5RYU5vNkFDVzRTazlFYlVlcHdJREFRQUJBb0lCQUJDbDdaZzJlM2tvSHdCbgowdEFhWFl3dW1ySi9YeExaK1kyNVVKUHc4KzFwUm1kQ21YZC81THVZVG1tNnZrZGVIRTFtUTNENDlVNzNSdVBtCmpwdzZVTTZDK1IyTjh6YktKcFo2dzNSWmwzaXlCalhEVzNMZHRSemRVRzMvZHd0Q0RpZ3d4ZVR3ME1RVkJ6aFYKWldlS2o2eStmNE5OekxGTkZocWdsTFBGRWVMTlk3WUgvYUdHdTZwaVpERkFMT0liMlFVUUVvVVRkUEJabDMxSwpKL0Y0cHE1RkV6ekQ0aHMwYXJzSlIxeUd4L0NCRWxqQWRSNWE4Y3FHdGhxYjFMdXJTMVcxT0dNUGkzNFdDblJKCnYwTC9zSU9ORCt5cjdjd3ZQaFFzcmI3Tk9NbGxRSDYwUGdyQ0JyOUVwalFiRm1ZN3NCTS9jYUZTWHVDTmZnTzMKT3hTQjF0RUNnWUVBNHpSMTh2aXl3Ykt5aE5xeEhkNzJ1UkxHS2k4SWZhVmhsNGxFeGdsR0pLNHQ0KzYreXhObAp2OFBkdGg3elJjL1pyQUlBUEtBRnZxa1RnVzkrc2llL3JPcE9PUzA2UnVIWVpJMjdpS3ZiL054N29YTm9TM0Y2CitXRlNJSVJqRFo0eHc2SU1iNUJFS0hOVGtKU1pBMXBkaXhYeFgzeDVTM2hCWTlmekl2NGdVVDhDZ1lFQTJRSDAKbnU5REZ0MDNmWmpvcjRMUkZCQS84NEV1dmdBL2RxMkZ4TzVvMjIrdk43Qk9LRW9IWTRuTzhYdFN2L2MzaVFZdApmTUdGZUR2eXdqRnFPU05SS2JxenMza3ZmY2gxNEhHdFltT29DVTF6Smd2VkF4SytWOFF4YWxMbmhlbjZsaTgwCnJKYmtWWUJXYnFHZHU1d2FPM1RyeGsvbHBMejFvSnliK0FQbmNKa0NnWUVBeHd3anRTeEtOc1hkL2VRMXZReWoKcTdvVjM4ajZzRkRkOGNzeGRDbVZ5UGJMZjErZXlQeUNiSUVrMExQR3ZzZDhWR1FnWHZ4MmEvVm1BRVIwZzVHdApLOGpOcE92Sm5XV29sVmRTRDBjNDRBc3RTR0Y1NG5aVm5QcTAzNFg3M1dkVkE2WUpMUWYvbmt5Q3ppeFE3UTRTCjI1SHF0NU91RS84VGttd1ROdm5aeURNQ2dZQlUxV0xmendFWEt4dktTY0NNL0VMbjZRSlhHeVUrdWJJVm52Z3cKYUZNdGxaZVYyYUowTlp4MTJTWEJXVWljS3ZUVzZFZFlBZjgvWlpBZFFsd1lRaW8wZWZ4T0tRM2J5a1hxbkFYLwo5SjE0SllMaVdMWEpJY2F2WU05QWxYQlU5WWMwdHZlTWtPQnFYR1Z0a2xpclF2Y3VUeUxzdjhjeWczd3ljWWEzCmlpOHI0UUtCZ0NaODZtcEZuUlN2aTdpTWw1MUdybDFQZER2YzZVMURRVkI5empTQlVzak1lamNTQXk4WmVJZlQKUDVoSGc3REFaUEhmUGpYLzZxUnpNQW8zWlFlZVBMdTNEYVgwbFBoekNhalF1bkpIbWZvYlA2QjFOUG45T056bQo0dE0wdEU1YTJVVmJuZW5haVZyaDRhSXlJTTFxVTdHT1ArcDNMNi9hNzVnSVQ2SVJRVlloCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg=="

## yugaware pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  enabled: false
  fsGroup: 1001
  runAsUser: 1001


helm:
  timeout: 900
  package: "/opt/yugabyte/helm/yugabyte-latest.tgz"

domainName: "cluster.local"

helm2Legacy: false

ip_version_support: "v4_only" # v4_only, v6_only are the only supported values at the moment

rbac:
  ## Does not create (Cluster) Role and Binding if false. When set to
  ## false, some of the graphs from Container section of the Metrics
  ## UI don't work.
  create: true

## In order to deploy on OpenShift Container Platform, set this to
## true.
ocpCompatibility:
  enabled: false
